<%= form_for(@pic) do |f| %>
  <% if @pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pic.errors.count, "error") %> prohibited this pic from being saved:</h2>

      <ul>
      <% @pic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, :required => true, :class => "block field col-12" %>
    <% if !@pic.name? %>
      <p class="bold red">Required</p>
    <% end %>

    <%= f.label :description, :class => "inline-block mt2" %>
    <%= f.text_area :description, :class => "block field col-12 mb2" %>

    <%= f.label :url %>
    <%= f.text_field :url, :required => true, :class => "block field col-12" %>
    <% if !@pic.name? %>
      <p class="bold red">Required</p>
    <% end %>

    <div class="starred-panel flex mt2 mb2">
        <img class="star" src="<%= asset_path('star.png') %>" alt="" />
        <%= f.label :starred, "Star", :class => "p1"%>
        <%= f.check_box :starred %>
    </div>

    <%= f.submit :class => "block col-12 btn btn-primary mb2" %>
<% end %>
