<div class="flex-container">
  <div class="list col-12 flex flex-column">

    <%= render "header" %>

    <% @pics.each do |pic| %>
      <div class="list__item">

        <%= link_to image_tag(pic.url, :alt => pic.description, :class => "list__pic"), pic %>

        <div class="list__info flex mt1 mb2">
          <div>
            <h3><%= link_to pic.name, pic, :class => "blue"%></h3>
            <p class="gray"><%= pic.description %></p>
          </div>

          <% if pic.starred %>
            <%= render "starred_panel" %>
          <% end %>

        </div>
      </div>
    <% end %>

  </div>
</div>
