<p id="notice"><%= notice %></p>

<h1>Listing Pics</h1>

  <% @pics.each do |pic| %>
    <p><%= pic.name %></p>
    <p><%= pic.description %></p>
    <%= link_to image_tag(pic.url, :alt => pic.description), pic %>
  <% end %>

<br>

<%= link_to 'Upload', upload_path %>
