<div class="flex-container">

  <div class="list col-12 flex flex-column">

    <%= render "header" %>

    <h2 class="m0"><%= @pic.name %></h2>
    <p class="gray"><%= @pic.description %></p>
    <%= image_tag @pic.url, alt: @pic.description, :class => "list__pic mb2" %>

    <% if @pic.starred %>
      <%= render "starred_panel" %>
    <% end %>

    <p class="mb0">
      <strong>Created:</strong>
      <%= time_ago_in_words(@pic.created_at) %> ago
    </p>

    <p>
      <strong>Updated:</strong>
      <%= time_ago_in_words(@pic.updated_at) %> ago
    </p>

    <%= button_to "Edit", edit_pic_path(@pic), method: :get, :class => "btn btn-primary col-12 mb1" %>
    <%= button_to "Delete", @pic, method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-primary bg-red col-12 mb1" %>
  </div>

</div>
