<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pic.description %>
</p>

<p>
  <%= image_tag @pic.url, alt: @pic.description  %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @pic.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @pic.updated_at %>
</p>

<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Delete', @pic, method: :delete, data: { confirm: 'Are you sure?' } %>
